<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>assign2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayForm</display-name>
    <servlet-name>DisplayForm</servlet-name>
    <servlet-class>neu.edu.DisplayForm</servlet-class>
    <init-param>
      <param-name>checkBoxMin</param-name>
      <param-value>^(001)\d{3}\d{3}\d{4}$</param-value>
    </init-param>
    <init-param>
      <param-name>chkdate</param-name>
      <param-value>^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$</param-value>
    </init-param>
    <init-param>
      <param-name>checkssn</param-name>
      <param-value>^\d{4}$</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayForm</servlet-name>
    <url-pattern>/DisplayForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>neu.edu.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/S1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S2</display-name>
    <servlet-name>S2</servlet-name>
    <servlet-class>neu.edu.S2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/S2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Education</display-name>
    <servlet-name>Education</servlet-name>
    <servlet-class>neu.edu.Education</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Education</servlet-name>
    <url-pattern>/Education</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project</display-name>
    <servlet-name>Project</servlet-name>
    <servlet-class>neu.edu.Project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project</servlet-name>
    <url-pattern>/Project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S</display-name>
    <servlet-name>S</servlet-name>
    <servlet-class>neu.edu.S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S</servlet-name>
    <url-pattern>/S</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s</display-name>
    <servlet-name>s</servlet-name>
    <servlet-class>neu.edu.s</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>neu.edu.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>neu.edu.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Education_new</display-name>
    <servlet-name>Education_new</servlet-name>
    <servlet-class>neu.edu.Education_new</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Education_new</servlet-name>
    <url-pattern>/Education_new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project_new</display-name>
    <servlet-name>Project_new</servlet-name>
    <servlet-class>neu.edu.Project_new</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project_new</servlet-name>
    <url-pattern>/Project_new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Skills</display-name>
    <servlet-name>Skills</servlet-name>
    <servlet-class>neu.edu.Skills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skills</servlet-name>
    <url-pattern>/Skills</url-pattern>
  </servlet-mapping>
</web-app>