<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Owner Restaurant List</title>
</head>
<body>
<div class="container">

<nav class="navbar navbar-default navbar-fixed-top">

        <span class=" navbar-text pull-left" style="color:navy;font-size:30px;"><b>FOOD FEAST</b></span>

         <span class="navbar-text pull-right">
            <ul class="nav nav-pills">
  		<li ><a href="#">Logout</a></li>
  		</ul></span>
</nav>

    <div class ="row ">
	<div class="col-xs-4 col-sm-4 col-md-4"  style="margin-top:85px;">
            <ul class="list-group " >
            <h3> Add Owners</h3>
                <li class="list-group-item ">
                <p><a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Add Owner</button></p>
                 
                </li>
                <li class="list-group-item ">
                <p> <a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Add Owner</button></p>
                
                </li>
                <li class="list-group-item ">
                <p> <a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Add Owner</button></p>
                
                </li>
               
            </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4"  style="margin-top:85px;">
             <h3> Manage Owners</h3>
              <form class = "form-inline">
             <div class="form-group">
                <label for="OwnerName">Owner Name</label>
                <input type="text" class="form-control" id="OwnerName" placeholder="Alice">
            </div>
               <div class="form-group">
                <label for="contactno">Contact No.</label>
                <input type="text" class="form-control" id="contactno" placeholder="516-890-8009">
           
            </div>
           
             <a class="btn btn-danger  btn-block"
           href="login.html">Add Owner</a>
            </form>
                <ul class="list-group ">
           
            
                <li class="list-group-item ">
                <p><a>Owner Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                 
                </li>
                <li class="list-group-item ">
                <p> <a>Owner Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                
                </li>
                <li class="list-group-item ">
                <p> <a>Owner Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                
                </li>
               
            </ul>

</div>
<div class="col-xs-4 col-sm-4 col-md-4"  style="margin-top:85px;">
            <ul class="list-group " >
            <h3> Manage Customers</h3>
                <li class="list-group-item ">
                <p><a>Customer Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                 
                </li>
                <li class="list-group-item ">
                <p> <a>Customer Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                
                </li>
                <li class="list-group-item ">
                <p> <a>Customer Name</a>
                 <button class= "link pull-right btn-danger">Delete</button></p>
                
                </li>
               
            </ul>
            </div>
</div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
</div>
</body>
</html>