
 <div id="myCarousel" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">

                    <img src="rest_1.jpg" style="width:100%;height:527px;" alt="Image" />
                    <div class="carousel-caption">
                        <div class="form-group">
           <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="welcomeCtrl.search.restaurantName">
        </div>
        <button type="submit" class="btn btn-danger" ng-click="welcomeCtrl.redirectToRestaurantList()">Search</button>
        </div>

            </div>

           
        </div>
        </div>
        </div>

        <div class="container ">
           
            <div style="margin-top:15px;">
            
             <div class="col-sm-3">
              <h3>Quick Searches</h3>
                <span>
                
                    <a  class="btn btn-danger" role="button" ng-click="welcomeCtrl.listofRestaurantByType('Veg')">Veg</a>
                    </span>
                    
                     <span>
 			<a  class="btn btn-danger" role="button" ng-click="welcomeCtrl.listofRestaurantByType('Non-veg')">Non-veg</a>

                </span>
                </div>
               
                <div class="col-sm-9">
                <h3>About Food Feast</h3>
                 <p>  Grubhub helps you find and order food from wherever you are. How it works: you type in an address, we tell you the restaurants that deliver to that locale as well as showing you droves of pickup restaurants near you. Want to be more specific? Search by cuisine, restaurant name or menu item. We'll filter your results accordingly. When you find what you're looking for, you can place your order online or by phone, free of charge. Oh, and we also give you access to reviews, coupons, special deals and a 24/7 customer care team that tracks each order and makes sure you get exactly what you want.</p>
                </div>
                
            </div>
        </div><br>
