<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Owner Restaurant List</title>
</head>
<body>
<div class="container">

<nav class="navbar navbar-default navbar-fixed-top">

        <span class=" navbar-text pull-left" style="color:navy;font-size:30px;"><b>FOOD FEAST</b></span>

         <span class="navbar-text pull-right">
            <ul class="nav nav-pills">
  		<li ><a href="#">Logout</a></li>
  		</ul></span>
</nav>

    <div class ="row container-fluid">

            <ul class="list-group " style="margin-top:85px;">
            <h3> Restaurant List of (ownerName)</h3>
                <li class="list-group-item ">
                <p><a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Update</button>
                <button class= "link pull-right btn-danger">Reviews</button></p>
                 
                </li>
                <li class="list-group-item ">
                <p> <a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Update</button>
                 <button class= "link pull-right btn-danger">Reviews</button></p>
                
                </li>
                <li class="list-group-item ">
                <p> <a>Restaurant Name</a>
                 <button class= "link pull-right btn-danger">Update</button>
               <button class= "link pull-right btn-danger">Reviews</button></p>
                
                </li>
               
            </ul>


</div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
</div>
</body>
</html>