

    <div class ="row container-fluid"  style="margin-top:85px;">
	 <h3 style="color:black;">Restaurant Name</h3>
            <ul class="list-group ">
           
                <li class="list-group-item" ng-repeat="review in reviewCtrl.reviewList">
                <p>RestaurantID: {{review.restaurantId}}</p>
                 <p>Review_comments</p>
                 <p>Star Rating: 1</p>
                 <p> Service_Rating:5</p>
                 <p> Food_Rating:5</p>
                 <p> Cost: </p>
                 <p><a href="#">comment</a></p>
                  <ul class="list-group ">
                <li class="list-group-item ">
                 <p>Customer_Name</p>
                 <p>Comment_desc</p>
                 </li>
                 </ul>
              
                 </li>
                 </ul>
                

</div>
